ion-content {
  --background: url("/../../assets/img/bg-2.jpeg") no-repeat 100% 100%;
  background-size: cover;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #02362c, #003199);
    opacity: 0.3;
  }
}

ion-item {
  --background: #ffffff;
}


ion-card-content {
  background-color: #ffffff;
}
