<ion-header>
  <ion-toolbar
    ><ion-buttons slot="start">
      <ion-back-button
        text="Back"
        icon="ios-arrow-back"
        color="primary"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>New Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!---->
  <!---->
  <form [formGroup]="FormNote" (ngSubmit)="addNote(FormNote.value)">
    <ion-card>
      
      <ion-item>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Title" formControlName="title">
        </mat-form-field>
      </ion-item>
      <ion-item>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Content" formControlName="content">
        </mat-form-field>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime
          displayFormat="MM/DD/YYYY"
          formControlName="date"
        ></ion-datetime>
        <div
          class="alert"
          *ngIf="
            !FormNote.controls['date'].valid &&
            !FormNote.controls['date'].touched
          "
        >
          {{ dateAlert }}
        </div>
      </ion-item>
    </ion-card>
    <ion-button type="submit" [disabled]="!FormNote.valid"
      >Save Note</ion-button
    >
  </form>
</ion-content>
